@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.housing {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(22, 22, 22, 0.089);
  }
  
  .housing:before {
    content: '';
    position: absolute;
    background: url('../../assets/housing.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  

.housing .housing-content {
    display: block;
    position: absolute;
    top: 40%;
    padding: 1rem;
    width: 50%;
}

.housing-accent {
    width: 100%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

.housing-accent img {
    width: 100%;
    opacity: 0.6;

}

.housing h1 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: center;
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.housing h2 {
    color: white;
    font-size: 1.5rem;
}

.housing h1 {
    font-size: 3rem;
}


.housing .housing-content {
    width: 70%;
}
}


@media screen and (max-width:700px) {
    .housing .housing-content {
        width: 100%;
    }
}