@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.contact-hero {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(22, 22, 22, 0.493);
  }
  
  .contact-hero:before {
    content: '';
    position: absolute;
    background: url('../../assets/contact.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  
.contact-hero .contact-hero-content {
    display: block;
    position: absolute;
    top: 25%;
    padding: 1rem;
    left: 5%;
    width: 70%;
}

.contact-hero h1 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.contact-hero p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}


/* MEDIA QUERIES */

@media screen and (max-width:700px) {


.contact-hero h1 {
    font-size: 1.5rem;
}

.contact-hero .contact-hero-content {
    left: 0%;
    width: 100%;
}
}