.lovedOnesSection1 {
    background-color: white;
    
}

.lovedOnesSection1-content {
    margin: auto;
    padding: 1rem;
    width: 80%;
}

.lovedOnesSection1-content h1 {
    font-size: 2rem;
    padding: .5rem 0;
    text-align: left;
    font-family: 'Lilita One', cursive;
}

.lovedOnesSection1-content p {
    font-size: 18px;
}