@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.alcohol {
    width: 100%;
    background-color: white;
    z-index: -1;
  }
  


.alcohol-content {
    top: 40%;
    padding: 3rem 1rem;
    margin: auto;
    z-index: 2;
}



.alcohol-content-img {
    width: 60%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.alcohol-content img {
    width: 100%;
}

.alcohol h1 {
    font-size: 5rem;
    color: rgb(247, 245, 245);
    text-align: center;
    position: relative;
    font-family: 'Indie Flower', cursive;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.alcohol h1 {
    font-size: 2rem;
}

.alcohol-content {
    top: 40%;
    padding: 3rem 1rem;
    margin: auto;
    z-index: 2;
}
}

@media screen and (max-width:700px) {
    .alcohol-content-img {
        width: 100%;
        padding: 2rem;
}
}