.insuranceSection2 {
    background-color: white;
}

.insuranceSection2-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    margin: auto;

}

.insuranceSection2-left {
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.insuranceSection2-left h1 {
    font-size: 2rem;
    padding: .5rem 0;
    text-align: center;
    font-family: 'Lilita One', cursive;
}

.insuranceSection2-left p {
    font-size: 18px;
    text-align: center;
    padding: 1rem 0;
}


.insuranceSection2-right {
    padding: 1rem;
    margin: auto;
    width: 70%;
    height: 100%;
}

.insuranceSection2-images {
    width: 100%;;
    margin: auto;
    position: relative;
}

.insuranceSection2-right img {
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
}

.insuranceSection2-accent {
    position: absolute;
    width: 40%;
    top: 0%;
    left: 0;
}

.insuranceSection2-accent2 {
    position: absolute;
    width:100%;
    bottom: -5%;
    left: 0;
    opacity: 0.8;
}

.insuranceSection2-accent img {
    width: 100%;
}


@media screen and (max-width:940px) {
    .insuranceSection2-left {
        width: 90%;
    }

    .insuranceSection2-flex {
        flex-wrap: wrap;
    }

    .insuranceSection2-subheader {
        width: 90%;
    }

    .insuranceSection2-right {
        width: 100%;
    }


}