@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.insurance {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(22, 22, 22, 0.342);
  }
  
  .insurance:before {
    content: '';
    position: absolute;
    background: url('../../assets/insurance.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }


  .insurance .insurance-content {
    display: block;
    position: absolute;
    top: 30%;
    padding: 1rem;
    width: 50%;
}

.insurance-accent {
    width: 100%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

.insurance-accent img {
    width: 100%;
    opacity: 0.6;
}

.insurance h2 {
    color: rgb(240, 232, 232);
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.insurance h1 {
    font-size: 5rem;
    font-family: 'Indie Flower', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.insurance h2 {
    color: white;
    font-size: 1.5rem;
}

.insurance h1 {
    font-size: 3rem;
}


.insurance .insurance-content {
    width: 70%;
}
}


@media screen and (max-width:700px) {
    .insurance .insurance-content {
        width: 100%;
    }
}