@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.footer {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(22, 22, 22, 0.089);
  }
  
  .footer:before {
    content: '';
    position: absolute;
    background: url('../../assets/hero-bg-1.jpg') no-repeat center top/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  

  .footer-content {
    padding: 3rem 0;
  }

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .top {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.footer .top .logo-footer {
    display: flex;
    align-items: center;
}

.footer .top .footer-icon {
    font-size: 3rem;
    margin-right: 1rem;
    color: rgb(32, 30, 30);
    cursor: pointer;
}

.footer h1 {
    font-size: 2rem;
    color: rgb(32, 30, 30);
}

.footer h2 {
    font-size: 2rem;
}

.footer h3 {
    color: rgb(32, 30, 30);
    font-size: 1rem;
}

.footer .col-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
}
.col {
    width: 250px;
    padding: 1rem;
}

.footer h3 {
    margin: 1rem 0 2rem 0;
    text-transform: uppercase;
    text-align: center;
}


.footer p {
    font-family: 'Montserrat', sans-serif;
    margin: .5rem 0;
    color: rgb(32, 30, 30);
    font-weight: 500;
    text-align: center;
}


.copyright p {
    color: rgb(19, 18, 18);
    text-transform: uppercase;
}

@media screen and (max-width: 940px) {
    .footer {
        height: 100%;
    }

    .footer form {
        grid-column: 1 / span 4;
        text-align: center;
    }

    .footer h1, .footer h2, .footer h3, .footer p {
        text-align: center;
    }
    
}


