
.os2 {
    background-color: white;
  }

.os2-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 5rem 0;
}

.os2-left {
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.os2-left h1 {
    font-size: 2rem;
    padding: .5rem 0;
    text-align: left;
    font-family: 'Lilita One', cursive;
}

.os2-left span {
    font-size: 1.5rem;
}

.os2-left p {
    font-size: 18px;
    text-align: justify;
}

.os2-flex {
    display: flex;
    justify-content: space-around;
}


.os2-right {
    padding: 1rem;
    margin: auto;
    width: 100%;
    height: 100%;
}

.os2-images {
    width: 100%;;
    margin: auto;
    position: relative;
}

.os2-right img {
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
}

.os2-accent {
    position: absolute;
    width: 30%;
    top: 0%;
    right: 0;
}

.os2-accent2 {
    position: absolute;
    width:100%;
    bottom: -20%;
    left: 0;
    opacity: 0.8;
}


.os2-accent img {
    width: 100%;
}

.os2-left ul li {
    margin: auto;
    font-size: 1.6rem;
}

/* .os2-left ul li span {
    font-size: 2rem;
    margin: auto;
} */

@media screen and (max-width:940px) {
    .os2-left {
        width: 90%;
    }

    .os2-flex {
        flex-wrap: wrap;
    }

    .os2-subheader {
        width: 90%;
    }

}

@media screen and (max-width:700px) {
    .os2-header h1 {
        font-size: 1.2rem;
    }

  }